<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="horizontal_nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1>WEB DESIGNING</h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="horizontal_nav.html">HOME</a></li>
        <li class="dropdowns">
          <a href="#">SERVICES</a>
          <div class="d-content">
            <a href="#">link1</a>
            <a href="#">link2</a>
            <a href="#">link3</a>
          </div>
        </li>
        <li><a href="#">ABOUT US</a></li>
        <li style="float: right"><a class="active" href="#">LOGIN</a></li>
      </ul>
    </div>
    <div class="main">
      <div class="form">
        <h1>LOGIN</h1>

        <form  action="horizontal_nav.html">
          <label for="email">EMAIL</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="ENTER A EMAIL.........."
          />
          <label for="password">PASSWORD</label>
          <input
            type="password"
            id="pass"
            name="pass"
            placeholder="ENTER A PASSWORD.........."
          />
          <input type="submit" value="SUBMIT" />
        </form>
      </div>
    </div>
    <div class="footer">
      <h1>COPYRIGHT &COPY; 2023 CREATED BY WEB DESIGNING</h1>
    </div>
  </body>
</html>

