<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="template2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="subcontainer">
        <div class="navbar">
          <div class="logo">
            <h1>Portfo</h1>
          </div>
          <div class="nav_menu">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="login_reg">
            <button><a href="#">Login In</a></button>
            <button><a href="#">Register</a></button>
          </div>
        </div>
        <div class="discribe">
          <div class="self">
            <h1>Hello</h1>
            <h1>It's Me CoderBoy</h1>
          </div>
          <div class="about_self">
            <p style="color: aliceblue">
              I am web devloper and designer.I will make your projects beautiful
              and attractive,you can find me on github.
            </p>
          </div>
          <div class="btn">
            <button>Hire Me</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


