* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
div.container {
    border: 2px solid black;
    height: 60px;
    padding: 0 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
}
.menu1
{
    margin-left: 150px;
}
.serch
{
    margin-right: 100px;
}