* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_con {
    width: 100%;
}

.nav_a a {
    color: #000;
}

input[type="text"] {
    background-color: #FAFAFA;
    color: gray;
    border-radius: 37px;
}

.second_con {
    height: inherit;
    padding: 5rem 0 0 0;
}

.btn_email {
    display: flex;
    gap: 10px;
}

.btn_email button {
    border-radius: 70px;
    background: #3461FF;
    color: white;
    border: none;
}

.btn_email button {
    padding: 20px 24px;
}

input[type="text"] {

    padding: 20px 18px;
}

@media screen and (max-width:426px) {
    .btn_email button {
        padding: 10px 5px;
    }
    #left_side {
        margin-top: 4rem;
        order: 2;
    }

    #right_side {
        order: 1;
    }

    .btn_email {
        display: flex;
        justify-content: center;
    }

    .position_rel img {
        height: 60px;
        width: auto;
    }

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 50px;
    }

    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 30px;
    }


    .sticker_ab1 {
        position: absolute;
        left: 50%;
        transform: translate(20%, -50%) !important;
    }

    .sticker_ab2 {
        transform: translate(25%, -50%) !important;
        position: absolute;
        left: 40%;
    }

    .third_row_ab2 {
        position: absolute;
        inset: 0.8rem 1rem !important;
    }

    .third_row_ab {
        position: absolute;
        left: 25%;
        top: -2rem !important;
    }

}

@media screen and (max-width:350px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 45px;
    }

    .third_row_ab2 {
        position: absolute;
        inset: 0.5rem 1rem !important;
    }

}

@media screen and (max-width:424px) and (min-width:380px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 55px;
    }

    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 40px;
    }

}
@media screen and (min-width:424px) and (max-width:500px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 70px;
    }
    .third_row_ab2 {
        position: absolute !important;
        inset: 1rem 2rem !important;
    }
    .third_row_ab {
        position: absolute;
        left: 25% !important;
        top: -3rem  !important;
    }
    .sticker_ab1 {
        position: absolute ;
        left: 50% !important;
        transform: translate(25%, -50%) !important;
    }
    .sticker_ab2 {
        transform: translate(10%, -50%) !important;
        position: absolute;
        left: 43% !important;
    }
    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 40px;
    }

}
@media screen and (min-width:501px) and (max-width:767px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 85px;
    }
    .third_row_ab2 {
        position: absolute !important;
        inset: 1rem 2rem !important;
    }
    .third_row_ab {
        position: absolute;
        left: 25% !important;
        top: -3rem  !important;
    }
    .sticker_ab1 {
        position: absolute ;
        left: 50% !important;
        transform: translate(25%, -50%) !important;
    }
    .sticker_ab2 {
        transform: translate(10%, -50%) !important;
        position: absolute;
        left: 43% !important;
    }
    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 50px;
    }

}
@media screen and (min-width:768px) and (max-width:992px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 60px;
    }
    .third_row_ab2 {
        position: absolute !important;
        inset: 1rem 1.5rem !important;
    }
    .third_row_ab {
        position: absolute;
        left: 25% !important;
        top: -3rem  !important;
    }
    .sticker_ab1 {
        position: absolute ;
        left: 50% !important;
        transform: translate(25%, -50%) !important;
    }
    .sticker_ab2 {
        transform: translate(10%, -50%) !important;
        position: absolute;
        left: 43% !important;
    }
    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 35px;
    }
    .btn_email button {
        padding: 10px 4px;
    }

    input[type="text"] {

        padding: 10px 9px;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {

    .third_row_ab .third_row_ab1,
    .sticker_ab .sticker_ab2 {
        height: 80px;
    }
    .third_row_ab2 {
        position: absolute !important;
        inset: 1rem 2rem !important;
    }
    .third_row_ab {
        position: absolute;
        left: 25% !important;
        top: -3rem  !important;
    }
    .sticker_ab1 {
        position: absolute ;
        left: 50% !important;
        transform: translate(25%, -50%) !important;
    }
    .sticker_ab2 {
        transform: translate(10%, -50%) !important;
        position: absolute;
        left: 43% !important;
    }
    .sticker_ab .sticker_ab1,
    .third_row_ab .third_row_ab2 {
        height: 50px;
    }

}

@media screen and (max-width:768px) {
    .btn_email button {
        padding: 10px 4px;
    }

    input[type="text"] {

        padding: 10px 9px;
    }
}

@media screen and (min-width:1024px) {
    .title_h1 {
        width: 90% !important;
        word-break: keep-all;
    }

    .des_paragraph {
        color: rgba(0, 0, 0, 0.60);

        width: 60% !important;
        word-break: break-all;
    }
}

.work_bg {
    background-color: #FAFAFA;
    padding: 3rem 0;
}

.work_bg img {
    mix-blend-mode: darken;
}

.pencil_img {
    border-radius: 119.5px;
    background: #3461FF;
}

.king_img {
    border-radius: 119.5px;
    background: #F1F4FF;
}

.laptop_img {
    border-radius: 119.5px;
    background: #E0FF22;
}

.position_rel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker_rel {
    position: relative;
}

.sticker_ab {
    position: absolute;

}

.sticker_ab2 {
    transform: translate(10%, -50%);
    position: absolute;
    left: 40%;
}

.sticker_ab1 {
    position: absolute;
    left: 50%;
    transform: translate(-10%, -50%);

}

.third_row_rel {
    position: relative;
}

.third_row_ab {
    position: absolute;
    left: 25%;
    top: -4rem
}

.third_row_ab2 {
    position: absolute;
    inset: 1rem 3rem;

}

.hover_card .card {
    border-radius: 30px;
    background-color: #F8F9FF;
}

.hover_card .card:hover {
    background: #3461FF;
}
@media screen and (min-width:1150px) {
    .rounded_img img
    {
        height: 80px !important;
    }
    .rounded_img 
    {
        border-radius: 352px !important;
        background: #e0ff22;
        width: 352px !important;
        height: 352px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}
@media screen and (min-width:1151px) and (max-width:1200px) {
    .rounded_img img
    {
        height: 80px !important;
    }
    .rounded_img 
    {
        border-radius: 352px !important;
        background: #e0ff22;
        width: 300px !important;
        height: 300px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

.bg_rounded
{
    border-radius: 52px;
    background: #232038;;
}
.last_con
{
    background-color: #FAFAFA;
}
.footer
{
    background: rgba(0, 0, 0, 0.80);
}
/* slider */
.gallery_scroller div.colored_card {
    min-width: 100% !important;
    min-height: 95% !important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .btn {
    position: absolute;
    top: 25% !important;
    transform: translateY(-50%) !important;
    height: 30px;
    width: 30px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
}



.gallery {
    position: relative;
    padding: 0 10;
}

.gallery_scroller {
    /* snap mandatory on horizontal axis  */
    scroll-snap-type: x mandatory;

    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    align-items: center;
    height: 100%;

    /* Enable Safari touch scrolling physics */
    -webkit-overflow-scrolling: touch;
}


.gallery_scroller div {
    /* snap align center  */
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 10px;
    position: relative;
}

.gallery_scroller img {
    border-radius: 10px;
}

.gallery_scroller div.colored_card {
    min-width: 33.33%;
    min-height: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_scroller div.colored_card>p {
    font-size: 10em;
    margin: 0;
    padding: 0;
}


.gallery div.note {
    position: absolute;

    /* vertically align center */
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    position: absolute;

    font-size: 4em;
    color: white;
}


.gallery .btn {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);

    height: 30px;
    width: 30px;

    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50% 50%;
    background-repeat: no-repeat;

    z-index: 1;
}

.gallery .btn.next {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    right: 10px;
}

.gallery .btn.prev {
    background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
    left: 10px;
}
