* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 14px;
}

.main {

    display: flex;
    justify-content: space-around;

}

div.container {
    height: 70px;
    width: 100%;
    background-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
}

.bt1,
.bt2 {
    padding: 4px 24px;
    margin-left: 12PX;
    border-radius: 30px;
    background-color: white;
    color: gray;
}