* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
   
}

.main {

    display: flex;
    justify-content: space-around;

}

div.container {
    height: auto;
    width: 100%;
    background-color: white;
    font-weight: bold;
    font-size: 14px;
}

.nav1 {
    display: flex;
    justify-content: space-between;
        align-items: center;
    border-bottom: 1px solid rgb(151, 147, 147);
    margin-left: 100px;
    margin-right: 100px;
}
#s1
{
    border: none;
}
.sticker i {
    padding: 10px 0px;
    margin-left: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}

.menu ul li+li::before {
    color: black;
    padding: 10px;
    content: "|\00a0";
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
    padding-right: 10px;

}



.container1 {
    padding: 2rem 6rem;
    max-width: 100%;
    height: 350px;
    gap: 3rem;
    position: relative;
    margin-top: 10px;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:white;

}

.content1 ul li,
.content2 ul li,
.content3 ul li {
    text-transform: capitalize;
}


.content2,.content3 ,.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}
.link:visited {
    color: rgb(61, 140, 219);
}

.Apple ul,
.beats ul,
.bose ul,
.audes ul,
.sony ul {
    list-style-type: none;
}
.photo
{
    position: absolute;
    bottom: -5px;
    left:0;

}

