* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 14px;
}

.main {

    display: flex;
    justify-content: space-around;

}

div.container {
    height: auto;
    width: 80%;
    background-color: white;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-left: 100px;
    margin-right: 100px;
}

.nav1 ul li {
    display: inline;
}

.nav1 ul {
    list-style-type: none;
}

.nav1 ul li a {
    text-decoration: none;
    color: gray;
    margin-right: 20px;

}

.sticker i {
    margin-left: 20px;
    padding:10px 0px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-left: 100px;
    margin-right: 100px;
}


.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    margin-left: 25PX;
    color: black;
}