* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 14px;
}

.main {

    display: flex;
    justify-content: space-around;

}

div.container {
    height: auto;
    width: 100%;
    background-color: white;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* padding: 20px; */
    margin-left: 100px;
    margin-right: 100px;
}

.nav1 ul li {
    display: inline;
}

.nav1 ul {
    list-style-type: none;
}

.nav1 ul li a {
    text-decoration: none;
    color: black;

}

.sticker i {
margin-right: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid rgb(147, 138, 138);
    margin-left: 100px;
    margin-right: 100px;
}


.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;

}

.search {
    position: relative;
    margin: 0;
    padding: 0;
}

.search img {
    position: absolute;
    top: 22%;
    right: 18px;
}

input[type=text] {
    width: 100%;
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid rgb(159, 150, 150);
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    padding: 9px 20px;
}