* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    font-weight:bold;
    font-size: 14px;

}
.main {

    display: flex;
    justify-content: space-around;
}
div.container {
    width: 80%;
    height: 60px;
    background-color: white;
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-left: 70px;
    margin-right: 70px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
}
input[type=text] {
    width: 32%;
    font-style:italic;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    padding:8px 10px;
  }
  .search {
    position: relative;
    padding: 0;
}
  .search img {
    position: absolute;
    top: -9%;
    right: 7px;
    filter: opacity(50%);

}