* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
div.container {
    border: 2px solid black;
    height:auto;
    padding: 0 1rem;
}
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.nav1 ul li {
    display: inline;
}
.nav1 ul {
    list-style-type: none;
}
.nav1 ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
}
.sticker i
{
    padding: 10px;
    margin-left: 10px;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left: 100px;
    margin-right: 100px;
}


.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
    margin-left: 12PX;
    color: black;
    border-right: 2px solid black;
}
#contact
{
    border-right: none;
}

